* {
  margin: 0;
  padding: 0;
  line-height: none;
}

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header .logo{
    display: flex;

    /* 文字 重直置中 沒效過 */
    /* vertical-align: middle; */
}

.header .logo img{
    padding: 20px;
}

.header .menu ul{
    display: flex;
    list-style: none;
}

.header .menu ul li{
    margin: 10px;
}


.main-picture {
    width: 100%;
    display:flex;
}

.main-picture img{
    width: 100%;
    border: 0px solid black;
    /* 百之百寬的圖片 加border會有 水平的捲軸 */
}
